<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
    xmlns:desktop104="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="124b5485-d414-44ae-969f-41e2672321dd"
    Publisher="CN=mko"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>WpfApp1.Package</DisplayName>
    <PublisherDisplayName>mko</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>UwpBackgroundTask\UwpBackgroundTask.dll</Path>
        <ActivatableClass ActivatableClassId="UwpBackgroundTask.TestBackgroundTask" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="UwpBackgroundTask.ApplicationBackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$"
     desktop104:SupportsMultipleInstances="false">
      <uap:VisualElements
        DisplayName="WpfApp1.Package"
        Description="WpfApp1.Package"
        BackgroundColor="transparent"
        Square150x150Logo="Images\Square150x150Logo.png"
        Square44x44Logo="Images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Images\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="UwpBackgroundTask.ApplicationBackgroundTask">
          <BackgroundTasks>
            <Task Type="systemEvent"/>
            <Task Type="timer" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
    
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
